@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    background: #333333bd;
    color: #f0f0f0;
    line-height: 1.5;
}

a {
    color: #fff;
    text-decoration: none;
}

.header {
    background-color: rgb(157, 100, 237);
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
}

.projects {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2px;
}

.projects img {
    width: 100%;
    height: 100%;
}

.projects h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.projects .day {
    background-color: cornflowerblue;
    border-bottom-left-radius: 5px;
    color: #fff;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    position: absolute;
    top: 0;
    right: 0;
}

.projects > div {
    position: relative;
    cursor: pointer;
    height: 100%;
}

.projects div:hover .content {
    opacity: 0.98;
}

.projects .content {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: cornflowerblue;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: opacity 0.3s ease-in;
}

@media (max-width: 980px)  {
    .header {
        font-size: 1rem;
    }

    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 720px)  {
    .header {
        font-size: 0.8rem;
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px)  {
    .header {
        font-size: 0.6rem;
    }

    .projects {
        grid-template-columns: repeat(1, 1fr);
    }
}
